@(_user:models.User, _action: String)

<form id="UsersForm" name="UsersForm" method="POST" action="@_action">
<input type="hidden" id="id" name="id" value="@_user.id" />
<div class="field_row"><label for="username">Username:</label><div class="field_holder"><input type="text" id="username" name="username" value="@_user.username" /></div></div>
<div class="field_row"><label for="name">Name:</label><div class="field_holder"><input type="text" id="name" name="name" value="@_user.name" /></div></div>
<div class="field_row"><label for="empId">Emp Id:</label><div class="field_holder"><input type="text" id="empId" name="empId" value="@_user.empId" /></div></div>

<br/><br/>
<input type="submit" id="submit" value="Submit" />
<input type="reset" id="reset" value="Reset" />
</form>